
body{
    margin:0;
}

#container{
    margin:0;
    background-color:#B9CDCA;
}

#header{
    margin:0;
}

#main{
    height: 1000px;
    text-align: center;
}

#navigator{
    
    text-align: center;
    background-color: #28635A;
    padding:1.5%;
    margin:0px;
}

nav a{
    padding:1%;
    color:white;
    font-size:large;
    font-family:"open";
    text-decoration: none;
    
}

 p.title{
    font-size:500%;
    color: #28635A;
    font-family:"fraunces";
    text-align: center;
    margin-top: 3%;
}

nav a:hover{
    text-decoration: none;
    background-color: #14302cad;
    border-radius: 25px;
    padding:1%;

}

label{
    font-family: "open";
    color: #28635A;
    margin-right: 1.5%;
}

#blocopesquisa{
    margin:3%;
    margin-top: 7%;
    
}

#blocosubstitui{
    margin:3%;
    margin-top: 5%;
}

#barrapesquisa{
    width: 400px;
    height: 50px;
    background-color: #f2dccba4;
    border: 2px solid  #E38251;
    border-radius: 8px;
    font-family: "open semi";
   
}

#barrasubstitui{
    width: 400px;
    height: 50px;
    background-color: #f2dccba4;
    border: 2px solid  #E38251;
    border-radius: 8px;
    font-family: "open semi";

}

#btnpesquisa{
    background-color:transparent;
    width: 60px;
    height: 55px;
    border: 0px ;
    border-radius: 8px;
    margin-left:-65px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

#btnpesquisa img{
    width: 35px; 
    height: auto;
    opacity: 80%;
}

#btnsubs{
    background-color: transparent;
    width: 60px;
    height: 55px;
    border: 0px ;
    border-radius: 8px;
    margin-left: -65px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#btnsubs img{
    width: 90px; 
    height: auto;
    opacity: 80%;
}


textarea{
    background-color:#F2DCCB;
    border: 3px solid #F2DCCB;
    border-radius: 10px;
    outline:none;
    padding:1%;
    color: #28635A;
    font-family: "open semi";
    font-size:medium;
}


p.tcaixa{
    font-family: "open";
    font-size:large;
    color: #28635A;
    padding-top: 3%;
}

#btnlimpa{
    width: 150px;
    height: 45px;
    background-color: #E38251;
    border-radius: 20px;
    border: 0px;
    font-family: "open";
    color:white;
    font-size: medium;
    margin-top: 3%;
    margin-right: 3%;
   
}

#btnsubmete{
    width: 150px;
    height: 45px;
    background-color: #E38251;
    border-radius: 20px;
    border: 0px;
    font-family: "open";
    color:white;
    font-size: medium;
    margin-top: 3%;
   
}

#footer{
    background-color: #28635A;
    margin:0;
    padding:auto;
    color:white;
    font-family:"open";
    text-align: center;
    
}


p.pe{
    margin-top:0;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 0%;
    font-size: medium;
    
}

#ident{
    padding: 0.3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size:small;
    display: inline-block;
}

#links{
    text-align: center;
    margin: 0;
    padding-top: 0px;
    
}

#ident img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left:1%;
    padding-right: 1%;
    padding-bottom: 0%;
    margin-left: 1%;
    margin-bottom: 0%;
}

.github, .vs{
    width: 50px;
    height: auto;
    padding-bottom: 1.5%;
}


p.nomes{
    width: 30%;
    padding: 0;
    margin-top: 1%;
    border: 0;
    display: inherit;
    vertical-align:top;
}
