@font-face {
    font-family: 'fredoka';
    src: url(fonts/Fredoka/static/Fredoka-Bold.ttf);
}

@font-face {
    font-family: 'fraunces';
    src: url(fonts/Fraunces/static/Fraunces_144pt-Bold.ttf);
}

@font-face {
    font-family: 'open';
    src: url(fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

p.title{
    font-size:500%;
    color: #28635A;
    font-family:"fraunces";
    text-align: center;
    margin-top: 3%;
}