
.ladoalado{ 
    display: flex;
    align-items: center; 
    justify-content: center;
}

p.title{
    font-size:500%;
    color: #28635A;
    font-family:"fraunces";
    text-align: center;
    margin-right: 5%;
}

p.texto{
    width: 45%;
    font-family: "open";
    color:#28635A;
    text-align: justify;
    margin: 2%;
    padding:3%;
}


p.title2{
    font-size:200%;
    color: #28635A;
    font-family:"fraunces";
    text-align: center;
}

img.prog{
    width: 30%;
    height: auto;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 0.5%;
    padding-bottom: 4%;
}

img.iTwist{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 5%;
}

#twist{
    text-align: center
}

p.tTwist{
    color: #28635A;
    font-family: "fraunces";
    font-size: 200%;
}