/*layout pagina 2*/

form {
    padding:3%;
    text-align: center;
}


fieldset {
    border: 4px solid #E38251;
    border-radius: 10px;
    background-color: #f2dccb42;
    padding: 3%;
    justify-content: space-around;
    color:white;
    font-family: "open";

}


#verificacao{
    padding:2%;
    margin: 0 auto;
    width: 600px;
    color:#28635A;
    font-family: "open";
}

p.medio{
    font-size: larger;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.radio-group label {
    flex: 0 0 45%; /* Cada label ocupará aproximadamente 45% da largura do fieldset */
    margin: 10px; 
    text-align: left;
    font-size: larger;
}

.radio-group input[type="radio"] {
    position: relative;
    width: 16px;
    height: 16px;
    appearance: none;
    border: 2px solid #E38251; 
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.radio-group input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color:rgba(0, 0, 0, 0.534); 
    border-radius: 500%;
    transform: translate(-50%, -50%);
}   


#texto{
    padding:2%;
    color:#28635A;
    font-size: medium;
}

#texto label{
    font-family: "open";
    font-size: larger;
}

textarea{
    background-color:#F2DCCB;
    border: 3px solid #F2DCCB;
    border-radius: 10px;
    outline:none;
    padding:1%;
    color: #28635A;
    font-family: "open semi";
    font-size:medium;
}



input[type = "button"]{
    border-radius: 30px;
    color:white;
    font-size:large;
    font-family: "open";
    text-align: center;
    background-color: #E38251;
    border: solid #E38251;
    padding:0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin:2%;
}

input[type = "button"]:active{
    border-radius: 30px;
    color:white;
    font-size:large;
    font-family: "open";
    text-align: center;
    background-color: #e2601f;
    border: solid#e2601f;
    padding:0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin:2%;
}